# 1. Importing the libraries

In [1401]:
import pandas as pd
import os
import datetime
from pymongo import MongoClient
import pprint

import warnings
warnings.filterwarnings('ignore')

from google.auth.transport.requests import Request
from google.oauth2.service_account import Credentials
from google.analytics.data_v1beta import BetaAnalyticsDataClient
from google.analytics.data_v1beta.types import (
    DateRange,
    Dimension,
    Metric,
    RunReportRequest,
    OrderBy
)

pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 7000)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

from IPython.display import display, HTML, FileLink
display(HTML('<style>.container { width:100% !important; }</style>'))

# 2. Defining file paths for IRA sessions data

In [1402]:
improve_sessions_path = 'IRA_Sessions_Data/Improve-Sessions-Users.csv'
rebate_sessions_path  = 'IRA_Sessions_Data/Rebate-Sessions-Users.csv'

# 3. Getting the IRA data from MongoDB

In [1403]:
# Define the MongoDB connection string
mongo_url = 'mongodb://**********************************.elb.us-west-1.amazonaws.com:270000/?directConnection=true&authMechanism=SCRAM-SHA-1'

# Create a MongoDB client object
client = MongoClient(
    mongo_url,
    username='***********',
    password='***********',
    authSource='*****'
)

# Access the 'PROD' database
db = client['PROD']

# Access the KenmoreIraEnquiry collection
collection = db['KenmoreIraEnquiry']

# Query the collection with the 'enquiryType': 'enquiry' filter for rebates and 'enquiryType': 'evEnquiry' filter for improves
rebate_results  = collection.find({'enquiryType': 'enquiry'})
improve_results = collection.find({'enquiryType': 'evEnquiry'})

In [1404]:
rebate_results_list = []
for rebate_result in rebate_results:
    rebate_results_list.append(rebate_result)

# Error: IOPub data rate exceeded when trying to print entire rebate_results_list. However, we are able to get all the data in the dataframe.
pprint.pprint(rebate_results_list)

[{'_id': ObjectId('646b17d8c8f62b917c11742e'),
  'address': '111\nsuite',
  'city': 'North Mankato',
  'comments': '',
  'created': datetime.datetime(2023, 4, 4, 11, 12, 23),
  'email': '41kksharma@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Krishna',
  'interestedappliances': ["'Heat Pump Clothes Dryer'",
                           "'Heat Pump Air Conditioner/Heater'",
                           "'Heat Pump Water Heater'"],
  'lastname': 'Sharma',
  'phone': 9008374333,
  'state': '',
  'updated': datetime.datetime(2023, 4, 4, 11, 12, 23),
  'zip': 60604},
 {'_id': ObjectId('646b17d8c8f62b917c11742f'),
  'address': '111 Kings Ct',
  'city': 'North Mankato',
  'comments': '',
  'created': datetime.datetime(2023, 4, 4, 11, 18, 28),
  'email': '41kksharma@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Krishna',
  'interestedappliances': [''],
  'lastname': 'Sharma',
  'phone': 900837433,
  'state': '',
  'updated': datetime.datetime(2023, 4, 4, 11, 18, 28),
  'zip': 56003},
 {'_id': ObjectId('646b17d8c8f62b917c117430'),
  'address': 111,
  'city': 'North Mankato',
  'comments': '',
  'created': datetime.datetime(2023, 4, 4, 11, 19, 32),
  'email': '41kksharma@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Krishna',
  'interestedappliances': [''],
  'lastname': 'Sharma',
  'phone': '',
  'state': '',
  'updated': datetime.datetime(2023, 4, 4, 11, 19, 32),
  'zip': 60604},
 {'_id': ObjectId('646b17d8c8f62b917c117431'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': '',
  'created': datetime.datetime(2023, 4, 4, 11, 22, 41),
  'email': 'Shiivedi@transformco.com',
  'enquiryType': 'enquiry',
  'firstname': 'Shivam',
  'interestedappliances': [''],
  'lastname': 'trivedi',
  'phone': '',
  'state': '',
  'updated': datetime.datetime(2023, 4, 4, 11, 22, 41),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c117432'),
  'address': 111,
  'city': 'Amador City',
  'comments': '',
  'created': datetime.datetime(2023, 4, 4, 12, 8, 41),
  'email': '41kksharma@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Krishna',
  'interestedappliances': [''],
  'lastname': 'Sharma',
  'phone': '',
  'state': '',
  'updated': datetime.datetime(2023, 4, 4, 12, 8, 41),
  'zip': 95601},
 {'_id': ObjectId('646b17d8c8f62b917c117433'),
  'address': 123123,
  'city': 'cac',
  'comments': '',
  'created': datetime.datetime(2023, 4, 4, 12, 38, 27),
  'email': 'asd@asd.csa',
  'enquiryType': 'enquiry',
  'firstname': 'caas',
  'interestedappliances': ["'Battery Backup'",
                           "'Heat Pump Air Conditioner/Heater'"],
  'lastname': 'dsaad',
  'phone': 3423423423,
  'state': '',
  'updated': datetime.datetime(2023, 4, 4, 12, 38, 27),
  'zip': 95601},
 {'_id': ObjectId('646b17d8c8f62b917c117434'),
  'address': 'sada',
  'city': 'asd',
  'comments': '',
  'created': datetime.datetime(2023, 4, 6, 17, 40, 25),
  'email': 'asd@sd.sd',
  'enquiryType': 'enquiry',
  'firstname': 'dasd',
  'interestedappliances': [''],
  'lastname': 'sda',
  'phone': '',
  'state': '',
  'updated': datetime.datetime(2023, 4, 6, 17, 40, 25),
  'zip': 60089},
 {'_id': ObjectId('646b17d8c8f62b917c117435'),
  'address': 'dad',
  'city': 'sdasdas',
  'comments': '',
  'created': datetime.datetime(2023, 4, 6, 17, 40, 57),
  'email': 'faf@sda.com',
  'enquiryType': 'enquiry',
  'firstname': 'sdfs',
  'interestedappliances': [''],
  'lastname': 'df',
  'phone': '',
  'state': '',
  'updated': datetime.datetime(2023, 4, 6, 17, 40, 57),
  'zip': 95601},
 {'_id': ObjectId('646b17d8c8f62b917c117436'),
  'address': 'asfsdfsa',
  'city': 'Elk Grove Village',
  'comments': '',
  'created': datetime.datetime(2023, 4, 7, 18, 59, 23),
  'email': 'pratik.tamhane@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Pratik',
  'interestedappliances': [''],
  'lastname': 'Tamhane',
  'phone': 23424322,
  'state': '',
  'updated': datetime.datetime(2023, 4, 7, 18, 59, 23),
  'zip': 60007},
 {'_id': ObjectId('646b17d8c8f62b917c117437'),
  'address': 'afsad',
  'city': 'dfdsf',
  'comments': '',
  'created': datetime.datetime(2023, 4, 10, 6, 8, 28),
  'email': 'fd@ds.sd',
  'enquiryType': 'enquiry',
  'firstname': 'sad',
  'interestedappliances': [''],
  'lastname': 'dd',
  'phone': 2342342342,
  'state': '',
  'updated': datetime.datetime(2023, 4, 10, 6, 8, 28),
  'zip': 60089},
 {'_id': ObjectId('646b17d8c8f62b917c117438'),
  'address': 'cdf',
  'city': 'faf',
  'comments': '',
  'created': datetime.datetime(2023, 4, 10, 6, 9, 23),
  'email': 'csd@dsd.dfa',
  'enquiryType': 'enquiry',
  'firstname': 'asdd',
  'interestedappliances': [''],
  'lastname': 'acd',
  'phone': 1231231231,
  'state': '',
  'updated': datetime.datetime(2023, 4, 10, 6, 9, 23),
  'zip': 95958},
 {'_id': ObjectId('646b17d8c8f62b917c117439'),
  'address': 24432423423423,
  'city': 'Elk Grove Village',
  'comments': '',
  'created': datetime.datetime(2023, 4, 10, 12, 53, 52),
  'email': 'pratik.tamhane@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Pratik',
  'interestedappliances': [''],
  'lastname': 'tamhane',
  'phone': 2342342323,
  'state': '',
  'updated': datetime.datetime(2023, 4, 10, 12, 53, 52),
  'zip': 60007},
 {'_id': ObjectId('646b17d8c8f62b917c11743a'),
  'address': 24432423423423,
  'city': 'Elk Grove Village',
  'comments': '',
  'created': datetime.datetime(2023, 4, 10, 12, 53, 52),
  'email': 'pratik.tamhane@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Pratik',
  'interestedappliances': [''],
  'lastname': 'tamhane',
  'phone': 2342342323,
  'state': '',
  'updated': datetime.datetime(2023, 4, 10, 12, 53, 52),
  'zip': 60007},
 {'_id': ObjectId('646b17d8c8f62b917c11743b'),
  'address': 24432423423423,
  'city': 'Elk Grove Village',
  'comments': '',
  'created': datetime.datetime(2023, 4, 10, 12, 53, 52),
  'email': 'pratik.tamhane@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Pratik',
  'interestedappliances': [''],
  'lastname': 'tamhane',
  'phone': 2342342323,
  'state': '',
  'updated': datetime.datetime(2023, 4, 10, 12, 53, 52),
  'zip': 60007},
 {'_id': ObjectId('646b17d8c8f62b917c11743c'),
  'address': 24432423423423,
  'city': 'Elk Grove Village',
  'comments': '',
  'created': datetime.datetime(2023, 4, 10, 12, 55, 8),
  'email': 'pratik.tamhane@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Pratik',
  'interestedappliances': [''],
  'lastname': 'Tamhane',
  'phone': 2342332342,
  'state': '',
  'updated': datetime.datetime(2023, 4, 10, 12, 55, 8),
  'zip': 60007},
 {'_id': ObjectId('646b17d8c8f62b917c117442'),
  'address': '3739 PINEHURST DR',
  'city': 'Holiday',
  'comments': '',
  'created': datetime.datetime(2023, 4, 12, 14, 9, 18),
  'email': 'bill.geiser@transformco.com',
  'enquiryType': 'enquiry',
  'firstname': 'Bill',
  'interestedappliances': [''],
  'lastname': 'Geiser',
  'phone': 2147387230,
  'state': '',
  'updated': datetime.datetime(2023, 4, 12, 14, 9, 18),
  'zip': 34691},
 {'_id': ObjectId('646b17d8c8f62b917c117445'),
  'address': '9400 Raquepaw Ln',
  'city': 'Jackson',
  'comments': '',
  'created': datetime.datetime(2023, 4, 12, 14, 15, 9),
  'email': 'megblyn@outlook.com',
  'enquiryType': 'enquiry',
  'firstname': 'Meaghan',
  'interestedappliances': [''],
  'lastname': 'Brown',
  'phone': 2703149430,
  'state': '',
  'updated': datetime.datetime(2023, 4, 12, 14, 15, 9),
  'zip': 95642},
 {'_id': ObjectId('646b17d8c8f62b917c117448'),
  'address': '101 Main St',
  'city': 'Hamilton City',
  'comments': '',
  'created': datetime.datetime(2023, 4, 12, 14, 36, 54),
  'email': 'brian.test.one@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Brian',
  'interestedappliances': [''],
  'lastname': 'Test-One',
  'phone': 3213682972,
  'state': '',
  'updated': datetime.datetime(2023, 4, 12, 14, 36, 54),
  'zip': 95951},
 {'_id': ObjectId('646b17d8c8f62b917c117449'),
  'address': '7225 Oakwood Ave',
  'city': 'Port Saint John',
  'comments': '',
  'created': datetime.datetime(2023, 4, 13, 14, 29, 40),
  'email': 'brian.schoerner@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Brian',
  'interestedappliances': [''],
  'lastname': 'Schoerner',
  'phone': 3213682972,
  'state': '',
  'updated': datetime.datetime(2023, 4, 13, 14, 29, 40),
  'zip': 32927},
 {'_id': ObjectId('646b17d8c8f62b917c11744a'),
  'address': '78 Clifford Rd',
  'city': 'Plymouth',
  'comments': '',
  'created': datetime.datetime(2023, 4, 13, 14, 32, 21),
  'email': 'jon.ethington@kcdbrands.com',
  'enquiryType': 'enquiry',
  'firstname': 'Jon',
  'interestedappliances': [''],
  'lastname': 'Ethington',
  'phone': 6178238037,
  'state': '',
  'updated': datetime.datetime(2023, 4, 13, 14, 32, 21),
  'zip': 2360},
 {'_id': ObjectId('646b17d8c8f62b917c11744b'),
  'address': '100 Main St',
  'city': 'Hamilton City',
  'comments': '',
  'created': datetime.datetime(2023, 4, 13, 14, 33, 27),
  'email': 'brian.schoerner@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Brian',
  'interestedappliances': [''],
  'lastname': 'Schoerner',
  'phone': 3213682972,
  'state': '',
  'updated': datetime.datetime(2023, 4, 13, 14, 33, 27),
  'zip': 95951},
 {'_id': ObjectId('646b17d8c8f62b917c11744c'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': '',
  'created': datetime.datetime(2023, 4, 14, 8, 32, 22),
  'email': 'Shivam.Trivedi@transformco.com',
  'enquiryType': 'enquiry',
  'firstname': 'Shivam',
  'interestedappliances': [''],
  'lastname': 'trivedi',
  'phone': 7867690667,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 8, 32, 22),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c11744d'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': '',
  'created': datetime.datetime(2023, 4, 14, 8, 35, 10),
  'email': 'Shivam.Trivedi@transformco.com',
  'enquiryType': 'enquiry',
  'firstname': 'Shivam',
  'interestedappliances': [''],
  'lastname': 'trivedi',
  'phone': 7867690667,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 8, 35, 10),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c11744e'),
  'address': 'indi',
  'city': 'new york',
  'comments': '',
  'created': datetime.datetime(2023, 4, 14, 9, 16, 55),
  'email': 'ram@js.com',
  'enquiryType': 'enquiry',
  'firstname': 'ram',
  'interestedappliances': [''],
  'lastname': 'ram',
  'phone': 4289273296,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 9, 16, 55),
  'zip': 60602},
 {'_id': ObjectId('646b17d8c8f62b917c11744f'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': 'vnfgfh',
  'created': datetime.datetime(2023, 4, 14, 9, 22, 51),
  'email': 'Shivam.Trivedi@transformco.com',
  'enquiryType': 'enquiry',
  'firstname': 'Shivam',
  'interestedappliances': ["'Electric Panel'",
                           "'Electric Stove'",
                           "'Electric wiring'"],
  'lastname': 'trivedi',
  'phone': 7867690667,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 9, 22, 51),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c117450'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': '',
  'created': datetime.datetime(2023, 4, 14, 9, 28, 15),
  'email': 'Shivam.Trivedi@transformco.com',
  'enquiryType': 'enquiry',
  'firstname': 'Shivam',
  'interestedappliances': ["'Electric Stove'",
                           "'Electric wiring'",
                           "'Weatherization'"],
  'lastname': 'trivedi',
  'phone': 7867690667,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 9, 28, 15),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c117451'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': '',
  'created': datetime.datetime(2023, 4, 14, 9, 29, 18),
  'email': 'Shivam.Trivedi@transformco.com',
  'enquiryType': 'enquiry',
  'firstname': 'Shivam',
  'interestedappliances': ["'Electric Stove'",
                           "'Heat Pump Air Conditioner/Heater'",
                           "'Battery Backup'"],
  'lastname': 'trivedi',
  'phone': 7867690667,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 9, 29, 18),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c117452'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': '',
  'created': datetime.datetime(2023, 4, 14, 9, 30, 43),
  'email': 'Shivam.Trivedi@transformco.com',
  'enquiryType': 'enquiry',
  'firstname': 'Shivam',
  'interestedappliances': ["'Electric Panel'",
                           "'Heat Pump Air Conditioner/Heater'",
                           "'EV Charger'"],
  'lastname': 'trivedi',
  'phone': 7867690667,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 9, 30, 43),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c117453'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': '',
  'created': datetime.datetime(2023, 4, 14, 9, 32, 7),
  'email': 'Shivam.Trivedi@transformco.com',
  'enquiryType': 'enquiry',
  'firstname': 'Shivam',
  'interestedappliances': [''],
  'lastname': 'trivedi',
  'phone': 7867690667,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 9, 32, 7),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c117454'),
  'address': '111\nsuite',
  'city': 'North Mankato',
  'comments': 'tets',
  'created': datetime.datetime(2023, 4, 14, 9, 52, 13),
  'email': '41kksharma@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Krishna',
  'interestedappliances': ["'Electric Panel'",
                           "'Electric Stove'",
                           "'EV Charger'"],
  'lastname': 'Sharma',
  'phone': 9008374333,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 9, 52, 13),
  'zip': 60604},
 {'_id': ObjectId('646b17d8c8f62b917c117455'),
  'address': '111\nsuite',
  'city': 'North Mankato',
  'comments': '',
  'created': datetime.datetime(2023, 4, 14, 9, 54, 26),
  'email': '41kksharma@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Krishna',
  'interestedappliances': ["'Electric Panel'",
                           "'Heat Pump Air Conditioner/Heater'",
                           "'Weatherization'"],
  'lastname': 'Sharma',
  'phone': 9008374333,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 9, 54, 26),
  'zip': 60604},
 {'_id': ObjectId('646b17d8c8f62b917c117456'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': '',
  'created': datetime.datetime(2023, 4, 14, 9, 54, 29),
  'email': 'Shivami@transformco.com',
  'enquiryType': 'enquiry',
  'firstname': 'Shivam',
  'interestedappliances': ["'Electric Panel'",
                           "'Heat Pump Air Conditioner/Heater'",
                           "'EV Charger'"],
  'lastname': 'trivedi',
  'phone': 7867690667,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 9, 54, 29),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c117457'),
  'address': 111,
  'city': 'North Mankato',
  'comments': '',
  'created': datetime.datetime(2023, 4, 14, 9, 56, 36),
  'email': '41kksharma@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Krishna',
  'interestedappliances': [''],
  'lastname': 'Sharma',
  'phone': 9008374333,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 9, 56, 36),
  'zip': 60604},
 {'_id': ObjectId('646b17d8c8f62b917c117458'),
  'address': 111,
  'city': 'North Mankato',
  'comments': '',
  'created': datetime.datetime(2023, 4, 14, 9, 57, 44),
  'email': '41kksharma@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Krishna',
  'interestedappliances': [''],
  'lastname': 'Sharma',
  'phone': 9008374333,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 9, 57, 44),
  'zip': 60604},
 {'_id': ObjectId('646b17d8c8f62b917c117459'),
  'address': 111,
  'city': 'North Mankato',
  'comments': '',
  'created': datetime.datetime(2023, 4, 14, 9, 58, 12),
  'email': '41kksharma@gmail.com',
  'enquiryType': 'enquiry',
  'firstname': 'Krishna',
  'interestedappliances': [''],
  'lastname': 'Sharma',
  'phone': 9008374333,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 9, 58, 12),
  'zip': 60604},
 {'_id': ObjectId('646b17d8c8f62b917c11745a'),
  'address': 123,
  'city': 'ds',
  'comments': 'asd',
  'created': datetime.datetime(2023, 4, 14, 10, 0, 59),
  'email': 'dsa@sd.sd',
  'enquiryType': 'enquiry',
  'firstname': 'cas',
  'interestedappliances': ["'Electric Stove'"],
  'lastname': 'dsad',
  'phone': 2312312312,
  'state': '',
  'updated': datetime.datetime(2023, 4, 14, 10, 0, 59),
  'zip': 60089},
 {'_id': ObjectId('646b17d8c8f62b917c11745b'),
  'address': '1980 McClellan Ln',
  'city': 'Lincoln',
  'comments': '',
  'created': datetime.datetime(2023, 4, 17, 17, 41, 26),
  'email': 'camillaeddings@yahoo.com',
  'enquiryType': 'enquiry',
  'firstname': 'Charles',
  'interestedappliances': [''],
  'lastname': 'Eddings',
  'phone': 9167417130,
  'state': '',
  'updated': datetime.datetime(2023, 4, 17, 17, 41, 26),
  'zip': 95648},
 {'_id': ObjectId('646b17d8c8f62b917c11745c'),
  'address': '397 alder st',
  'city': 'Quincy',
  'comments': '',
  'created': datetime.datetime(2023, 4, 17, 19, 4, 11),
  'email': 'Bruceharly@yahoo.com',
  'enquiryType': 'enquiry',
  'firstname': 'Bruce',
  'interestedappliances': [''],
  'lastname': 'Baldwin',
  'phone': 5308287876,
  'state': '',
  'updated': datetime.datetime(2023, 4, 17, 19, 4, 11),
  'zip': 95971},
 {'_id': ObjectId('646b17d8c8f62b917c11745e'),
  'address': '21312DAS',
  'city': 'DSFF',
  'comments': 'ASDASD',
  'created': datetime.datetime(2023, 4, 18, 12, 4, 13),
  'email': 'cHAD@SD.DA',
  'enquiryType': 'enquiry',
  'firstname': 'sd',
  'interestedappliances': [''],
  'lastname': 'csa',
  'phone': 1231231231,
  'state': '',
  'updated': datetime.datetime(2023, 4, 18, 12, 4, 13),
  'zip': 60089},
 {'_id': ObjectId('646b17d8c8f62b917c11745f'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': '',
  'created': datetime.datetime(2023, 4, 19, 7, 53, 10),
  'email': 'Shivrivedi@transformco.com',
  'enquiryType': 'enquiry',
  'firstname': 'Shivam',
  'interestedappliances': ["'Heat Pump Air Conditioner/Heater'",
                           "'Weatherization'",
                           "'Heat Pump Water Heater'"],
  'lastname': 'trivedi',
  'phone': 7867690667,
  'state': '',
  'updated': datetime.datetime(2023, 4, 19, 7, 53, 10),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c117460'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': '',
  'created': datetime.datetime(2023, 4, 19, 7, 56, 12),
  'email': 'Shivaedi@transformco.com',
  'enquiryType': 'enquiry',
  'firstname': 'Shivam',
  'interestedappliances': [''],
  'lastname': 'trivedi',
  'phone': 7867690667,
  'state': '',
  'updated': datetime.datetime(2023, 4, 19, 7, 56, 12),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c117461'),
  'address': 2312,
  'city': 'asd',
  'comments': '',
  'created': datetime.datetime(2023, 4, 19, 12, 50, 10),
  'email': 'cdf@sd.sd',
  'enquiryType': 'enquiry',
  'firstname': 'adsa',
  'interestedappliances': [''],
  'lastname': 'fda',
  'phone': 1231231231,
  'state': '',
  'updated': datetime.datetime(2023, 4, 19, 12, 50, 10),
  'zip': 60089},
 {'_id': ObjectId('646b17d8c8f62b917c117462'),
  'address': 'dfa',
  'city': 'cd',
  'comments': '',
  'created': datetime.datetime(2023, 4, 20, 6, 13, 30),
  'email': 'dsdf@sd.cd',
  'enquiryType': 'enquiry',
  'firstname': 'dsa',
  'interestedappliances': ["'Heat Pump Air Conditioner/Heater'"],
  'lastname': 'fsa',
  'phone': 2313131231,
  'state': '',
  'updated': datetime.datetime(2023, 4, 20, 6, 13, 30),
  'zip': 60089},
 {'_id': ObjectId('646b17d8c8f62b917c117463'),
  'address': '4321 Willow Lane Drive NE',
  'city': 'Grand Rapids',
  'comments': '',
  'created': datetime.datetime(2023, 4, 24, 12, 52, 33),
  'email': 'rdevries@grcity.us',
  'enquiryType': 'enquiry',
  'firstname': 'Rick',
  'interestedappliances': ["'Electric Stove'",
                           "'Heat Pump Clothes Dryer'",
                           "'Heat Pump Water Heater'"],
  'lastname': 'DeVries',

In [1405]:
improve_results_list = []
for improve_result in improve_results:
    improve_results_list.append(improve_result)

pprint.pprint(improve_results_list)

[{'_id': ObjectId('646b17d8c8f62b917c117474'),
  'address': 'D10',
  'city': 'Chicago',
  'comments': '',
  'created': datetime.datetime(2023, 4, 25, 15, 12, 38),
  'email': 'sitansu.jena@transformco.com',
  'enquiryType': 'evEnquiry',
  'firstname': 'sia',
  'interestedappliances': [''],
  'lastname': 'jena',
  'phone': 9299299292,
  'state': 'IL',
  'updated': datetime.datetime(2023, 4, 25, 15, 12, 38),
  'zip': 60169},
 {'_id': ObjectId('646b17d8c8f62b917c117476'),
  'address': 'D10',
  'city': 'Chicago',
  'comments': '',
  'created': datetime.datetime(2023, 4, 25, 16, 1, 9),
  'email': 'sitansu.jena@transformco.com',
  'enquiryType': 'evEnquiry',
  'firstname': 'sia',
  'interestedappliances': [''],
  'lastname': 'jena',
  'phone': 9299299292,
  'state': 'IL',
  'updated': datetime.datetime(2023, 4, 25, 16, 1, 9),
  'zip': 60169},
 {'_id': ObjectId('646b17d8c8f62b917c11747b'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': '',
  'created': datetime.datetime(2023, 4, 26, 6, 14, 17),
  'email': 'Shivam.Trihvedi@transformco.com',
  'enquiryType': 'evEnquiry',
  'firstname': 'Shivam',
  'interestedappliances': [''],
  'lastname': 'trivedi',
  'phone': 7867690667,
  'state': 'CA',
  'updated': datetime.datetime(2023, 4, 26, 6, 14, 17),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c11747c'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': '',
  'created': datetime.datetime(2023, 4, 26, 6, 17, 32),
  'email': 'Shivvedi@transformco.com',
  'enquiryType': 'evEnquiry',
  'firstname': 'Shivam',
  'interestedappliances': [''],
  'lastname': 'trivedi',
  'phone': 7867690667,
  'state': 'CA',
  'updated': datetime.datetime(2023, 4, 26, 6, 17, 32),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c117487'),
  'address': 'N 201, purva Fountain Square Marathahalli',
  'city': 'Bangalore',
  'comments': '',
  'created': datetime.datetime(2023, 4, 26, 12, 52, 24),
  'email': '44kksharma@gmail.com',
  'enquiryType': 'evEnquiry',
  'firstname': 'Krishna',
  'interestedappliances': [''],
  'lastname': 'Sharma',
  'phone': 9008374333,
  'state': 'MN',
  'updated': datetime.datetime(2023, 4, 26, 12, 52, 24),
  'zip': 56003},
 {'_id': ObjectId('646b17d8c8f62b917c117488'),
  'address': 'N 201, purva Fountain Square Marathahalli',
  'city': 'Bangalore',
  'comments': '',
  'created': datetime.datetime(2023, 4, 26, 12, 53, 42),
  'email': '44kksharma@gmail.com',
  'enquiryType': 'evEnquiry',
  'firstname': 'Krishna',
  'interestedappliances': [''],
  'lastname': 'Sharma',
  'phone': 9008374333,
  'state': 'MN',
  'updated': datetime.datetime(2023, 4, 26, 12, 53, 42),
  'zip': 56003},
 {'_id': ObjectId('646b17d8c8f62b917c117489'),
  'address': '2550 N 1st St',
  'city': 'San Jose',
  'comments': '',
  'created': datetime.datetime(2023, 4, 26, 12, 58, 23),
  'email': 'Shivam.Trivedi@transformco.com',
  'enquiryType': 'evEnquiry',
  'firstname': 'Shivam',
  'interestedappliances': [''],
  'lastname': 'trivedi',
  'phone': 7867690667,
  'state': 'CA',
  'updated': datetime.datetime(2023, 4, 26, 12, 58, 23),
  'zip': 95131},
 {'_id': ObjectId('646b17d8c8f62b917c1174bd'),
  'address': 'asd',
  'city': 'asd',
  'comments': '',
  'created': datetime.datetime(2023, 5, 18, 9, 14, 20),
  'email': 'cje@d.sd',
  'enquiryType': 'evEnquiry',
  'firstname': 'asda',
  'interestedappliances': [''],
  'lastname': 'sada',
  'phone': 1231231231,
  'state': 'IL',
  'updated': datetime.datetime(2023, 5, 18, 9, 14, 20),
  'zip': 60089},
 {'_id': ObjectId('646b17d8c8f62b917c1174cd'),
  'address': 212,
  'city': 0,
  'comments': '',
  'created': datetime.datetime(2023, 5, 18, 13, 22, 24),
  'email': 'cd@ds.sd',
  'enquiryType': 'evEnquiry',
  'firstname': 'adsasd',
  'interestedappliances': [''],
  'lastname': 'asdad',
  'phone': 1231231231,
  'state': 'IL',
  'updated': datetime.datetime(2023, 5, 18, 13, 22, 24),
  'zip': 60089},
 {'_id': ObjectId('646b17d8c8f62b917c1174ce'),
  'address': 212,
  'city': 0,
  'comments': '',
  'created': datetime.datetime(2023, 5, 18, 13, 22, 51),
  'email': 'cd@ds.sd',
  'enquiryType': 'evEnquiry',
  'firstname': 'adsasd',
  'interestedappliances': [''],
  'lastname': 'asdad',
  'phone': 1231231231,
  'state': 'CA',
  'updated': datetime.datetime(2023, 5, 18, 13, 22, 51),
  'zip': 95601},
 {'_id': ObjectId('646b17d8c8f62b917c1174cf'),
  'address': 'asdasdas',
  'city': 'dasd',
  'comments': '',
  'created': datetime.datetime(2023, 5, 18, 13, 25, 42),
  'email': 'cdd@gmail.cas',
  'enquiryType': 'evEnquiry',
  'firstname': 'casas',
  'interestedappliances': [''],
  'lastname': 'asdd',
  'phone': 1231231231,
  'state': 'IL',
  'updated': datetime.datetime(2023, 5, 18, 13, 25, 42),
  'zip': 60089},
 {'_id': ObjectId('646b17d8c8f62b917c1174d0'),
  'address': 'asdas',
  'city': '',
  'comments': '',
  'created': datetime.datetime(2023, 5, 18, 13, 39, 25),
  'email': 'csaas@sdad.dsa',
  'enquiryType': 'evEnquiry',
  'firstname': 'dsasd',
  'interestedappliances': [''],
  'lastname': 'asfasd',
  'phone': 2123123123,
  'state': 'IL',
  'updated': datetime.datetime(2023, 5, 18, 13, 39, 25),
  'zip': 60089},
 {'_class': 'com.shc.kenmore.iraenquiry.db.model.KenmoreIraEnquiry',
  '_id': ObjectId('64ad7c58fa07292d7028f560'),
  'address': '830 Olde Gap Ct',
  'city': 'Bowling Green',
  'created': datetime.datetime(2023, 7, 11, 15, 59, 20, 573000),
  'email': 'megblyn@outlook.com',
  'enquiryType': 'evEnquiry',
  'firstname': 'Meaghan',
  'interestedappliances': ['Electric Charger'],
  'lastname': 'Brown',
  'phone': '2703149430',
  'state': 'KY',
  'updated': datetime.datetime(2023, 7, 11, 15, 59, 20, 573000),
  'zip': '42104'},
 {'_class': 'com.shc.kenmore.iraenquiry.db.model.KenmoreIraEnquiry',
  '_id': ObjectId('64b68aa3fa07292d7028f562'),
  'address': '13243 SW 114th Ter',
  'city': 'Miami',
  'created': datetime.datetime(2023, 7, 18, 12, 50, 43, 261000),
  'email': 'theandrillons@gmail.com',
  'enquiryType': 'evEnquiry',
  'firstname': 'Miguel',
  'interestedappliances': ['Electric Panel', 'Electric Charger'],
  'lastname': 'Andrillon',
  'phone': '7862523564',
  'state': 'FL',
  'updated': datetime.datetime(2023, 7, 18, 12, 50, 43, 261000),
  'zip': '33186'},
 {'_class': 'com.shc.kenmore.iraenquiry.db.model.KenmoreIraEnquiry',
  '_id': ObjectId('64bcbcad6c1fbb694b7f9c70'),
  'address': 'sdsdsd',
  'city': 'Seattle',
  'created': datetime.datetime(2023, 7, 23, 5, 37, 49, 261000),
  'email': 'hhhh@gmail.com',
  'enquiryType': 'evEnquiry',
  'firstname': 'ssssssssssss',
  'interestedappliances': ['Electric Panel'],
  'lastname': 'qqqqqqq',
  'phone': '9999990',
  'state': 'NY',
  'updated': datetime.datetime(2023, 7, 23, 5, 37, 49, 261000),
  'zip': '10003'},
 {'_class': 'com.shc.kenmore.iraenquiry.db.model.KenmoreIraEnquiry',
  '_id': ObjectId('64da798e6c1fbb694b7f9c73'),
  'address': '324\nRAINBOW TROUT CT\nRoseville Ca',
  'city': 'ROSEVILLE',
  'created': datetime.datetime(2023, 8, 14, 18, 59, 26, 530000),
  'email': 'blancamorrison@yahoo.com',
  'enquiryType': 'evEnquiry',
  'firstname': 'Blanca',
  'interestedappliances': ['Electric Panel', 'Electric Charger'],
  'lastname': 'Morrison',
  'phone': '9165219239',
  'state': 'CA',
  'updated': datetime.datetime(2023, 8, 14, 18, 59, 26, 530000),
  'zip': '95747'},
 {'_class': 'com.shc.kenmore.iraenquiry.db.model.KenmoreIraEnquiry',
  '_id': ObjectId('64ee46bf6c1fbb694b7f9c75'),
  'address': '138 Cresent Ave.\n',
  'city': 'WALDWICK',
  'created': datetime.datetime(2023, 8, 29, 19, 27, 59, 702000),
  'email': 'Hyock11@gmail.com',
  'enquiryType': 'evEnquiry',
  'firstname': 'Henry',
  'interestedappliances': ['Electric Panel',
                           'Heat Pump Water Heater',
                           'Battery Backup'],
  'lastname': 'Kim',
  'phone': '2018159625',
  'state': 'NJ',
  'updated': datetime.datetime(2023, 8, 29, 19, 27, 59, 702000),
  'zip': '07463'}]

## 3.1 Getting the IRA rebates and improves data into dataframes

In [1406]:
rebate_df = pd.json_normalize(rebate_results_list)
rebate_df.head(3)

,_id,firstname,lastname,phone,email,address,city,zip,interestedappliances,comments,created,enquiryType,state,updated,_class
0,646b17d8c8f62b917c11742e,Krishna,Sharma,9008374333,41kksharma@gmail.com,111\nsuite,North Mankato,60604,"['Heat Pump Clothes Dryer', 'Heat Pump Air Con...",,2023-04-04 11:12:23,enquiry,,2023-04-04 11:12:23,NaN
1,646b17d8c8f62b917c11742f,Krishna,Sharma,900837433,41kksharma@gmail.com,111 Kings Ct,North Mankato,56003,[],,2023-04-04 11:18:28,enquiry,,2023-04-04 11:18:28,NaN
2,646b17d8c8f62b917c117430,Krishna,Sharma,,41kksharma@gmail.com,111,North Mankato,60604,[],,2023-04-04 11:19:32,enquiry,,2023-04-04 11:19:32,NaN

In [1407]:
improve_df = pd.json_normalize(improve_results_list)
improve_df.head(2)

,_id,firstname,lastname,phone,email,address,city,zip,interestedappliances,comments,created,enquiryType,state,updated,_class
0,646b17d8c8f62b917c117474,sia,jena,9299299292,sitansu.jena@transformco.com,D10,Chicago,60169,[],,2023-04-25 15:12:38,evEnquiry,IL,2023-04-25 15:12:38,NaN
1,646b17d8c8f62b917c117476,sia,jena,9299299292,sitansu.jena@transformco.com,D10,Chicago,60169,[],,2023-04-25 16:01:09,evEnquiry,IL,2023-04-25 16:01:09,NaN

## 3.2 Cleaning the IRA rebates dataframe

In [1408]:
rebate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   _id                   72 non-null     object
 1   firstname             72 non-null     object
 2   lastname              72 non-null     object
 3   phone                 72 non-null     object
 4   email                 72 non-null     object
 5   address               72 non-null     object
 6   city                  72 non-null     object
 7   zip                   72 non-null     object
 8   interestedappliances  71 non-null     object
 9   comments              71 non-null     object
 10  created               72 non-null     datetime64[ns]
 11  enquiryType           72 non-null     object
 12  state                 67 non-null     object
 13  updated               72 non-null     datetime64[ns]
 14  _class                6 non-null      object
dtypes: datetime64[ns](2), object(13)
memory usage: 8.6+ KB

### 3.2.1 Dropping unnecessary columns

In [1409]:
unnecessary_columns = ['_id', 'enquiryType', 'updated']
rebate_df.drop(unnecessary_columns, axis=1, inplace=True)

### 3.2.2 Adding other columns

In [1410]:
rebate_df['Visited Page'] = 'https://rebates.kenmore.com/'
rebate_df['state'] = None

### 3.2.3 Renaming columns

In [1411]:
rebate_df.rename(columns = {
    'firstname': 'First Name',
    'lastname': 'Last Name',
    'phone': 'Phone'
}, inplace = True)

rebate_df.head(2)

,First Name,Last Name,Phone,email,address,city,zip,interestedappliances,comments,created,state,_class,Visited Page
0,Krishna,Sharma,9008374333,41kksharma@gmail.com,111\nsuite,North Mankato,60604,"['Heat Pump Clothes Dryer', 'Heat Pump Air Con...",,2023-04-04 11:12:23,None,NaN,https://rebates.kenmore.com/
1,Krishna,Sharma,900837433,41kksharma@gmail.com,111 Kings Ct,North Mankato,56003,[],,2023-04-04 11:18:28,None,NaN,https://rebates.kenmore.com/

## 3.3 Cleaning the IRA improves dataframe

In [1412]:
improve_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   _id                   17 non-null     object
 1   firstname             17 non-null     object
 2   lastname              17 non-null     object
 3   phone                 17 non-null     object
 4   email                 17 non-null     object
 5   address               17 non-null     object
 6   city                  17 non-null     object
 7   zip                   17 non-null     object
 8   interestedappliances  17 non-null     object
 9   comments              12 non-null     object
 10  created               17 non-null     datetime64[ns]
 11  enquiryType           17 non-null     object
 12  state                 17 non-null     object
 13  updated               17 non-null     datetime64[ns]
 14  _class                5 non-null      object
dtypes: datetime64[ns](2), object(13)
memory usage: 2.1+ KB

### 3.3.1 Dropping unnecessary columns

In [1413]:
unnecessary_columns = ['_id', 'enquiryType', 'updated']
improve_df.drop(unnecessary_columns, axis=1, inplace=True)

### 3.3.2 Adding other columns

In [1414]:
improve_df['interestedappliances'] = None
improve_df['comments']             = None
improve_df['Visited Page']         = 'https://improve.kenmore.com/'

### 3.3.3 Reordering columns

In [1415]:
ordered_columns = [
    'firstname',
    'lastname',
    'phone',
    'email',
    'address',
    'city',
    'zip',
    'interestedappliances',
    'comments',
    'created',
    'Visited Page',
    'state'
]

improve_df = improve_df[ordered_columns]

### 3.3.4 Renaming columns

In [1416]:
improve_df.rename(columns = {
    'firstname': 'First Name',
    'lastname': 'Last Name',
    'phone': 'Phone'
}, inplace = True)

improve_df.head(2)

,First Name,Last Name,Phone,email,address,city,zip,interestedappliances,comments,created,Visited Page,state
0,sia,jena,9299299292,sitansu.jena@transformco.com,D10,Chicago,60169,None,None,2023-04-25 15:12:38,https://improve.kenmore.com/,IL
1,sia,jena,9299299292,sitansu.jena@transformco.com,D10,Chicago,60169,None,None,2023-04-25 16:01:09,https://improve.kenmore.com/,IL

## 3.4 Appending the IRA rebates and improves dataframes to get the final dataframe

In [1417]:
df = rebate_df.append(improve_df, ignore_index = True)

In [1418]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   First Name            89 non-null     object
 1   Last Name             89 non-null     object
 2   Phone                 89 non-null     object
 3   email                 89 non-null     object
 4   address               89 non-null     object
 5   city                  89 non-null     object
 6   zip                   89 non-null     object
 7   interestedappliances  71 non-null     object
 8   comments              71 non-null     object
 9   created               89 non-null     datetime64[ns]
 10  state                 17 non-null     object
 11  _class                6 non-null      object
 12  Visited Page          89 non-null     object
dtypes: datetime64[ns](1), object(12)
memory usage: 9.2+ KB

### 3.4.1 Ordering values by created date

In [1419]:
df.sort_values(by='created', inplace=True, ignore_index=True)
df

,First Name,Last Name,Phone,email,address,city,zip,interestedappliances,comments,created,state,_class,Visited Page
0,Krishna,Sharma,9008374333,41kksharma@gmail.com,111\nsuite,North Mankato,60604,"['Heat Pump Clothes Dryer', 'Heat Pump Air Con...",,2023-04-04 11:12:23.000,None,NaN,https://rebates.kenmore.com/
1,Krishna,Sharma,900837433,41kksharma@gmail.com,111 Kings Ct,North Mankato,56003,[],,2023-04-04 11:18:28.000,None,NaN,https://rebates.kenmore.com/
2,Krishna,Sharma,,41kksharma@gmail.com,111,North Mankato,60604,[],,2023-04-04 11:19:32.000,None,NaN,https://rebates.kenmore.com/
3,Shivam,trivedi,,Shiivedi@transformco.com,2550 N 1st St,San Jose,95131,[],,2023-04-04 11:22:41.000,None,NaN,https://rebates.kenmore.com/
4,Krishna,Sharma,,41kksharma@gmail.com,111,Amador City,95601,[],,2023-04-04 12:08:41.000,None,NaN,https://rebates.kenmore.com/
5,caas,dsaad,3423423423,asd@asd.csa,123123,cac,95601,"['Battery Backup', 'Heat Pump Air Conditioner/...",,2023-04-04 12:38:27.000,None,NaN,https://rebates.kenmore.com/
6,dasd,sda,,asd@sd.sd,sada,asd,60089,[],,2023-04-06 17:40:25.000,None,NaN,https://rebates.kenmore.com/
7,sdfs,df,,faf@sda.com,dad,sdasdas,95601,[],,2023-04-06 17:40:57.000,None,NaN,https://rebates.kenmore.com/
8,Pratik,Tamhane,23424322,pratik.tamhane@gmail.com,asfsdfsa,Elk Grove Village,60007,[],,2023-04-07 18:59:23.000,None,NaN,https://rebates.kenmore.com/
9,sad,dd,2342342342,fd@ds.sd,afsad,dfdsf,60089,[],,2023-04-10 06:08:28.000,None,NaN,https://rebates.kenmore.com/
10,asdd,acd,1231231231,csd@dsd.dfa,cdf,faf,95958,[],,2023-04-10 06:09:23.000,None,NaN,https://rebates.kenmore.com/
11,Pratik,tamhane,2342342323,pratik.tamhane@gmail.com,24432423423423,Elk Grove Village,60007,[],,2023-04-10 12:53:52.000,None,NaN,https://rebates.kenmore.com/
12,Pratik,tamhane,2342342323,pratik.tamhane@gmail.com,24432423423423,Elk Grove Village,60007,[],,2023-04-10 12:53:52.000,None,NaN,https://rebates.kenmore.com/
13,Pratik,tamhane,2342342323,pratik.tamhane@gmail.com,24432423423423,Elk Grove Village,60007,[],,2023-04-10 12:53:52.000,None,NaN,https://rebates.kenmore.com/
14,Pratik,Tamhane,2342332342,pratik.tamhane@gmail.com,24432423423423,Elk Grove Village,60007,[],,2023-04-10 12:55:08.000,None,NaN,https://rebates.kenmore.com/
15,Bill,Geiser,2147387230,bill.geiser@transformco.com,3739 PINEHURST DR,Holiday,34691,[],,2023-04-12 14:09:18.000,None,NaN,https://rebates.kenmore.com/
16,Meaghan,Brown,2703149430,megblyn@outlook.com,9400 Raquepaw Ln,Jackson,95642,[],,2023-04-12 14:15:09.000,None,NaN,https://rebates.kenmore.com/
17,Brian,Test-One,3213682972,brian.test.one@gmail.com,101 Main St,Hamilton City,95951,[],,2023-04-12 14:36:54.000,None,NaN,https://rebates.kenmore.com/
18,Brian,Schoerner,3213682972,brian.schoerner@gmail.com,7225 Oakwood Ave,Port Saint John,32927,[],,2023-04-13 14:29:40.000,None,NaN,https://rebates.kenmore.com/
19,Jon,Ethington,6178238037,jon.ethington@kcdbrands.com,78 Clifford Rd,Plymouth,2360,[],,2023-04-13 14:32:21.000,None,NaN,https://rebates.kenmore.com/
20,Brian,Schoerner,3213682972,brian.schoerner@gmail.com,100 Main St,Hamilton City,95951,[],,2023-04-13 14:33:27.000,None,NaN,https://rebates.kenmore.com/
21,Shivam,trivedi,7867690667,Shivam.Trivedi@transformco.com,2550 N 1st St,San Jose,95131,[],,2023-04-14 08:32:22.000,None,NaN,https://rebates.kenmore.com/
22,Shivam,trivedi,7867690667,Shivam.Trivedi@transformco.com,2550 N 1st St,San Jose,95131,[],,2023-04-14 08:35:10.000,None,NaN,https://rebates.kenmore.com/
23,ram,ram,4289273296,ram@js.com,indi,new york,60602,[],,2023-04-14 09:16:55.000,None,NaN,https://rebates.kenmore.com/
24,Shivam,trivedi,7867690667,Shivam.Trivedi@transformco.com,2550 N 1st St,San Jose,95131,"['Electric Panel', 'Electric Stove', 'Electric...",vnfgfh,2023-04-14 09:22:51.000,None,NaN,https://rebates.kenmore.com/
25,Shivam,trivedi,7867690667,Shivam.Trivedi@transformco.com,2550 N 1st St,San Jose,95131,"['Electric Stove', 'Electric wiring', 'Weather...",,2023-04-14 09:28:15.000,None,NaN,https://rebates.kenmore.com/
26,Shivam,trivedi,7867690667,Shivam.Trivedi@transformco.com,2550 N 1st St,San Jose,95131,"['Electric Stove', 'Heat Pump Air Conditioner/...",,2023-04-14 09:29:18.000,None,NaN,https://rebates.kenmore.com/
27,Shivam,trivedi,7867690667,Shivam.Trivedi@transformco.com,2550 N 1st St,San Jose,95131,"['Electric Panel', 'Heat Pump Air Conditioner/...",,2023-04-14 09:30:43.000,None,NaN,https://rebates.kenmore.com/
28,Shivam,trivedi,7867690667,Shivam.Trivedi@transformco.com,2550 N 1st St,San Jose,95131,[],,2023-04-14 09:32:07.000,None,NaN,https://rebates.kenmore.com/
29,Krishna,Sharma,9008374333,41kksharma@gmail.com,111\nsuite,North Mankato,60604,"['Electric Panel', 'Electric Stove', 'EV Charg...",tets,2023-04-14 09:52:13.000,None,NaN,https://rebates.kenmore.com/
30,Krishna,Sharma,9008374333,41kksharma@gmail.com,111\nsuite,North Mankato,60604,"['Electric Panel', 'Heat Pump Air Conditioner/...",,2023-04-14 09:54:26.000,None,NaN,https://rebates.kenmore.com/
31,Shivam,trivedi,7867690667,Shivami@transformco.com,2550 N 1st St,San Jose,95131,"['Electric Panel', 'Heat Pump Air Conditioner/...",,2023-04-14 09:54:29.000,None,NaN,https://rebates.kenmore.com/
32,Krishna,Sharma,9008374333,41kksharma@gmail.com,111,North Mankato,60604,[],,2023-04-14 09:56:36.000,None,NaN,https://rebates.kenmore.com/
33,Krishna,Sharma,9008374333,41kksharma@gmail.com,111,North Mankato,60604,[],,2023-04-14 09:57:44.000,None,NaN,https://rebates.kenmore.com/
34,Krishna,Sharma,9008374333,41kksharma@gmail.com,111,North Mankato,60604,[],,2023-04-14 09:58:12.000,None,NaN,https://rebates.kenmore.com/
35,cas,dsad,2312312312,dsa@sd.sd,123,ds,60089,['Electric Stove'],asd,2023-04-14 10:00:59.000,None,NaN,https://rebates.kenmore.com/
36,Charles,Eddings,9167417130,camillaeddings@yahoo.com,1980 McClellan Ln,Lincoln,95648,[],,2023-04-17 17:41:26.000,None,NaN,https://rebates.kenmore.com/
37,Bruce,Baldwin,5308287876,Bruceharly@yahoo.com,397 alder st,Quincy,95971,[],,2023-04-17 19:04:11.000,None,NaN,https://rebates.kenmore.com/
38,sd,csa,1231231231,cHAD@SD.DA,21312DAS,DSFF,60089,[],ASDASD,2023-04-18 12:04:13.000,None,NaN,https://rebates.kenmore.com/
39,Shivam,trivedi,7867690667,Shivrivedi@transformco.com,2550 N 1st St,San Jose,95131,"['Heat Pump Air Conditioner/Heater', 'Weatheri...",,2023-04-19 07:53:10.000,None,NaN,https://rebates.kenmore.com/
40,Shivam,trivedi,7867690667,Shivaedi@transformco.com,2550 N 1st St,San Jose,95131,[],,2023-04-19 07:56:12.000,None,NaN,https://rebates.kenmore.com/
41,adsa,fda,1231231231,cdf@sd.sd,2312,asd,60089,[],,2023-04-19 12:50:10.000,None,NaN,https://rebates.kenmore.com/
42,dsa,fsa,2313131231,dsdf@sd.cd,dfa,cd,60089,['Heat Pump Air Conditioner/Heater'],,2023-04-20 06:13:30.000,None,NaN,https://rebates.kenmore.com/
43,Rick,DeVries,6165407622,rdevries@grcity.us,4321 Willow Lane Drive NE,Grand Rapids,49525,"['Electric Stove', 'Heat Pump Clothes Dryer', ...",,2023-04-24 12:52:33.000,None,NaN,https://rebates.kenmore.com/
44,Sara,Watson,,jackwyo57@yahoo.com,7849 Wisteria Ln,Evansville,47720,['Heat Pump Water Heater'],,2023-04-24 14:03:46.000,None,NaN,https://rebates.kenmore.com/
45,Adam,Hughes,,atomhews@pm.me,,,53562,"['Heat Pump Clothes Dryer', 'Heat Pump Air Con...",Have Span. Need Cold Climate capable appliances.,2023-04-24 14:13:42.000,None,NaN,https://rebates.kenmore.com/
46,shara,alexander,5034151021,sharaealexander@gmail.com,51 NE Tillamook\nstreet,Portland,97212,"['Electric Stove', 'Weatherization', 'Battery ...",,2023-04-24 15:11:56.000,None,NaN,https://rebates.kenmore.com/
47,shara,alexander,5034151021,sharaealexander@gmail.com,51 NE Tillamook\nstreet,Portland,97212,"['Electric Stove', 'Weatherization', 'Battery ...",,2023-04-24 15:11:56.000,None,NaN,https://rebates.kenmore.com/
48,David,Fradin,4088925025,dave@mauimanakai.com,117 el altillo,los gatos,95032,"['Electric Panel', 'Electric Stove', 'Heat Pum...",,2023-04-24 15:14:50.000,None,NaN,https://rebates.kenmore.com/
49,sitansu,jena,9087654321,sitansu.jena2009@gmail.com,varthur,chicago,60169,[],,2023-04-25 13:31:27.000,None,NaN,https://rebates.kenmore.com/
50,sia,jena,9299299292,sitansu.jena@transformco.com,D10,Chicago,60169,[],,2023-04-25 14:14:37.000,None,NaN,https://rebates.kenmore.com/
51,Jack,john,1799299292,jack.john@yopmail.com,D10,Chicago,60169,[],,2023-04-25 15:11:35.000,None,NaN,https://rebates.kenmore.com/
52,sia,jena,9299299292,sitansu.jena@transformco.com,D10,Chicago,60169,None,None,2023-04-25 15:12:38.000,IL,NaN,https://improve.kenmore.com/
53,sia,jena,9299299292,sitansu.jena@transformco.com,D10,Chicago,60169,[],,2023-04-25 15:13:03.000,None,NaN,https://rebates.kenmore.com/
54,sia,jena,9299299292,sitansu.jena@transformco.com,D10,Chicago,60169,None,None,2023-04-25 16:01:09.000,IL,NaN,https://improve.kenmore.com/
55,Edith,Buhs,,edithenergizinggs@gmail.com,,,2130,"['Electric Panel', 'Electric Stove', 'Heat Pum...",I’d like to learn about more than 3!,2023-04-25 21:06:45.000,None,NaN,https://rebates.kenmore.com/
56,Shivam,trivedi,7867690667,Shivaivedi@transformco.com,2550 N 1st St,San Jose,95131,[],,2023-04-26 06:11:45.000,None,NaN,https://rebates.kenmore.com/
57,Shivam,trivedi,7867690667,Shivam.Trihvedi@transformco.com,2550 N 1st St,San Jose,95131,None,None,2023-04-26 06:14:17.000,CA,NaN,https://improve.kenmore.com/
58,Shivam,trivedi,7867690667,Shivvedi@transformco.com,2550 N 1st St,San Jose,95131,None,None,2023-04-26 06:17:32.000,CA,NaN,https://improve.kenmore.com/
59,fggfs,ghh,4654654664,fcg@ghc.gf,gchg,hj,55543,"['Electric Panel', 'Electric Stove']",,2023-04-26 06:45:38.000,None,NaN,https://rebates.kenmore.com/
60,90210,da,9999999999,reddy.manoj94@gmail.com,das,dasda,95952,[],,2023-04-26 07:02:41.000,None,NaN,https://rebates.kenmore.com/
61,Shivam,trivedi,7867690667,Shivaedi@transformco.com,2550 N 1st St,San Jose,95131,[],,2023-04-26 12:05:57.000,None,NaN,https://rebates.kenmore.com/
62,adasd,sdf,3423423423,afa@ddw.sd,df,fasf,60089,"['Heat Pump Water Heater', 'Weatherization']",,2023-04-26 12:32:01.000,None,NaN,https://rebates.kenmore.com/
63,Krishna,Sharma,9008374333,44kksharma@gmail.com,"N 201, purva Fountain Square Marathahalli",Bangalore,56003,"['Heat Pump Air Conditioner/Heater', 'Heat Pum...",test,2023-04-26 12:46:45.000,None,NaN,https://rebates.kenmore.com/
64,Krishna,Sharma,9008374333,44kksharma@gmail.com,"N 201, purva Fountain Square Marathahalli",Bangalore,56003,"['Electric Panel', 'Electric Stove', 'Electric...",test,2023-04-26 12:48:59.000,None,NaN,https://rebates.kenmore.com/
65,Krishna,Sharma,9008374333,44kksharma@gmail.com,"N 201, purva Fountain Square Marathahalli",Bangalore,56003,None,None,2023-04-26 12:52:24.000,MN,NaN,https://improve.kenmore.com/
66,Krishna,Sharma,9008374333,44kksharma@gmail.com,"N 201, purva Fountain Square Marathahalli",Bangalore,56003,None,None,2023-04-26 12:53:42.000,MN,NaN,https://improve.kenmore.com/
67,Shivam,trivedi,7867690667,Shivam.Trivedi@transformco.com,2550 N 1st St,San Jose,95131,None,None,2023-04-26 12:58:23.000,CA,NaN,https://improve.kenmore.com/
68,Jonathan,Reinbold,3128980071,jdreinbold@gmail.com,901 GRANDVIEW AVE,OJAI,93023,"['Electric Panel', 'Electric Stove', 'Heat Pum...",,2023-04-27 15:12:11.000,None,NaN,https://rebates.kenmore.com/
69,Paul,Thompson,2153690391,pthompson@igc.org,108 Mapleshade Ave,Washington crossing,18977,"['Heat Pump Air Conditioner/Heater', 'Heat Pum...",,2023-04-30 20:29:49.000,None,NaN,https://rebates.kenmore.com/
70,Wesley,Hsiao,4083861060,WHSIAO1995@HOTMAIL.COM,845 Sweetbay Dr,Sunnyvale,94086,"['Electric Stove', 'Heat Pump Air Conditioner/...",,2023-05-01 04:16:34.000,None,NaN,https://rebates.kenmore.com/
71,Justin,Lie,5132552153,justinlie@gmail.com,,,91011,"['Electric Panel', 'Electric Stove', 'Electric...",,2023-05-04 15:42:38.000,None,NaN,https://rebates.kenmore.com/
72,asda,sada,1231231231,cje@d.sd,asd,asd,60089,None,None,2023-05-18 09:14:20.000,IL,NaN,https://improve.kenmore.com/
73,sa,fa,1231231231,asd@as.asd,,,60089,['Electric wiring'],,2023-05-18 09:16:40.000,None,NaN,https://rebates.kenmore.com/
74,adsasd,asdad,1231231231,cd@ds.sd,212,0,60089,None,None,2023-05-18 13:22:24.000,IL,NaN,https://improve.kenmore.com/
75,adsasd,asdad,1231231231,cd@ds.sd,212,0,95601,None,None,2023-05-18 13:22:51.000,CA,NaN,https://improve.kenmore.com/
76,casas,asdd,1231231231,cdd@gmail.cas,asdasdas,dasd,60089,None,None,2023-05-18 13:25:42.000,IL,NaN,https://improve.kenmore.com/
77,dsasd,asfasd,2123123123,csaas@sdad.dsa,asdas,,60089,None,None,2023-05-18 13:39:25.000,IL,NaN,https://improve.kenmore.com/
78,Meaghan,Brown,2703149430,megblyn@outlook.com,830 Olde Gap Ct,Bowling Green,42104,[EV Charger],Test Lead,2023-07-11 15:57:52.603,None,com.shc.kenmore.iraenquiry.db.model.KenmoreIra...,https://rebates.kenmore.com/
79,Meaghan,Brown,2703149430,megblyn@outlook.com,830 Olde Gap Ct,Bowling Green,42104,None,None,2023-07-11 15:59:20.573,KY,NaN,https://improve.kenmore.com/
80,Tishekia,Williams,2674557678,tishekia@gmail.com,108 Wesport Drive,Pittsburgh,15238,"[EV Charger, Electric Stove, Weatherization]",I am also interested in battery backup,2023-07-17 21:48:09.961,None,com.shc.kenmore.iraenquiry.db.model.KenmoreIra...,https://rebates.kenmore.com/
81,Miguel,Andrillon,7862523564,theandrillons@gmail.com,13243 SW 114th Ter,Miami,33186,None,None,2023-07-18 12:50:43.261,FL,NaN,https://improve.kenmore.com/
82,DEMO,qwerty,123456789,abc@xyz.com,INDIA,PUNE,00000,NaN,NaN,2023-07-23 05:37:09.317,None,com.shc.kenmore.iraenquiry.db.model.KenmoreIra...,https://rebates.kenmore.com/
83,ssssssssssss,qqqqqqq,9999990,hhhh@gmail.com,sdsdsd,Seattle,10003,None,None,2023-07-23 05:37:49.261,NY,NaN,https://improve.kenmore.com/
84,ssss,tttt,000000,ststs@gmail.com,ssssss,NY,10003,"[Electric Panel, Electric Stove]",,2023-07-23 05:38:30.988,None,com.shc.kenmore.iraenquiry.db.model.KenmoreIra...,https://rebates.kenmore.com/
85,Ken,Espiau,6235515817,kespiau@outlook.com,43708 N 48th Dr,Phoenix,85087,"[Battery Backup, Heat Pump Clothes Dryer, Heat...",,2023-07-30 16:11:27.387,None,com.shc.kenmore.iraenquiry.db.model.KenmoreIra...,https://rebates.kenmore.com/
86,Blanca,Morrison,9165219239,blancamorrison@yahoo.com,324\nRAINBOW TROUT CT\nRoseville Ca,ROSEVILLE,95747,None,None,2023-08-14 18:59:26.530,CA,NaN,https://improve.kenmore.com/
87,David,Younan-Montgomery,,davidscottmontgomery@gmail.com,,,55407,"[Electric Panel, Heat Pump Air Conditioner/Hea...",Also interested in EV charger,2023-08-17 17:16:22.757,None,com.shc.kenmore.iraenquiry.db.model.KenmoreIra...,https://rebates.kenmore.com/
88,Henry,Kim,2018159625,Hyock11@gmail.com,138 Cresent Ave.\n,WALDWICK,07463,None,None,2023-08-29 19:27:59.702,NJ,NaN,https://improve.kenmore.com/

# 4. Getting the current date in mmddyyyy format

In [1420]:
current_time = datetime.datetime.now()
current_date = current_time.strftime('%m%d%Y')
current_date

'07102024'

# 5. Getting the sessions and users data for rebates and improves from GA4
## 5.1 Getting the data

In [1421]:
os.getcwd()

'/home/svairag/Automation/Rebate&Improve'

In [1422]:
def run_report(property_id):
    """Runs a simple report on a Google Analytics 4 property."""

    credential_path = "/home/svairag/Automation/Rebate&Improve/shc-mkt-online-analytics-4fb16bff4aef.json"
    os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = credential_path

    # Using a default constructor instructs the client to use the credentials specified in GOOGLE_APPLICATION_CREDENTIALS
    # environment variable.
    client = BetaAnalyticsDataClient()

    request = RunReportRequest(
        property = f'properties/{property_id}',
        dimensions = [Dimension(name='date')],
        metrics = [Metric(name='Sessions'), Metric(name='activeUsers')],
        date_ranges = [DateRange(start_date='30daysAgo', end_date='today')],
        order_bys = [
            OrderBy(
                dimension=OrderBy.DimensionOrderBy(dimension_name='date'),
                desc=True
            )
        ]
    )

    df = pd.DataFrame(columns=['Date', 'Visits', 'Users'])

    response = client.run_report(request)
    for row in response.rows:
        df = df.append(
            {
                'Date'  : row.dimension_values[0].value,
                'Visits': row.metric_values[0].value,
                'Users' : row.metric_values[1].value
            },
            ignore_index=True)

    return df

In [1423]:
if __name__ == '__main__':
    rebates_df = run_report(344393047)  # Property id for rebates data
    print('Rebates DataFrame:')
    print(rebates_df)
    print('\n')

    improves_df = run_report(361838237)  # Property id for improves data
    print('Improves DataFrame:')
    print(improves_df)

Rebates DataFrame:
        Date Visits Users
0   20240708      2     2
1   20240706      1     1
2   20240705      1     1
3   20240704      4     4
4   20240702      6     6
5   20240701      4     4
6   20240630      5     5
7   20240628      6     6
8   20240627      3     3
9   20240626      3     3
10  20240625      7     7
11  20240622      2     2
12  20240621      1     1
13  20240620      1     1
14  20240619      1     1
15  20240618      9     9
16  20240617      1     1
17  20240615      1     1
18  20240614      2     2
19  20240612      2     2
20  20240611      7     7


Improves DataFrame:
       Date Visits Users
0  20240708      1     1
1  20240702      2     2
2  20240701      1     1
3  20240626      1     1
4  20240625      2     2
5  20240618      4     4
6  20240617      2     2
7  20240613      1     1
8  20240612      1     1
9  20240611      2     2

## 5.2 Examining the dataframes

In [1424]:
rebates_df.head(2)

       Date Visits Users
0  20240708      2     2
1  20240706      1     1

In [1425]:
rebates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    21 non-null     object
 1   Visits  21 non-null     object
 2   Users   21 non-null     object
dtypes: object(3)
memory usage: 632.0+ bytes

In [1426]:
improves_df.head(2)

       Date Visits Users
0  20240708      1     1
1  20240702      2     2

In [1427]:
improves_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    10 non-null     object
 1   Visits  10 non-null     object
 2   Users   10 non-null     object
dtypes: object(3)
memory usage: 368.0+ bytes

## 5.3 Converting the columns to the correct data types

In [1428]:
def change_data_type(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')
    df[['Visits', 'Users']] = df[['Visits', 'Users']].apply(pd.to_numeric)

In [1429]:
change_data_type(rebates_df)
change_data_type(improves_df)

In [1430]:
rebates_df.head(2)

         Date  Visits  Users
0  2024-07-08       2      2
1  2024-07-06       1      1

In [1431]:
rebates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    21 non-null     object
 1   Visits  21 non-null     int64
 2   Users   21 non-null     int64
dtypes: int64(2), object(1)
memory usage: 632.0+ bytes

In [1432]:
improves_df.head(2)

         Date  Visits  Users
0  2024-07-08       1      1
1  2024-07-02       2      2

In [1433]:
improves_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    10 non-null     object
 1   Visits  10 non-null     int64
 2   Users   10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

## 5.4 Writing the dfs to csv files

In [1434]:
rebates_df.to_csv(rebate_sessions_path, index = False)
improves_df.to_csv(improve_sessions_path, index = False)

# 6. Saving the final dataframes to excel

In [1435]:
# Replace file name with latest date
file_name = 'IRA_Rebates_Data_' + current_date + '.xlsx'

with pd.ExcelWriter(file_name, engine = 'xlsxwriter') as writer:
    # Convert the dataframe to XlsxWriter Excel objects
    df.to_excel(writer, sheet_name=f'IRA_Rebates_Data_{current_date}', index=False)
    improves_df.to_excel(writer, sheet_name = 'Improve_Sessions_Users', index = False)
    rebates_df.to_excel(writer, sheet_name = 'Rebate_Sessions_Users', index = False)
    
    # Get the xlsxwriter objects from the dataframe writer objects
    workbook                   = writer.book
    ira_improve_data_worksheet = writer.sheets[f'IRA_Rebates_Data_{current_date}']
    improves_worksheet         = writer.sheets['Improve_Sessions_Users']
    rebates_worksheet          = writer.sheets['Rebate_Sessions_Users']
    
    # Adjusting column widths
    ira_improve_data_worksheet.set_column(0, 2, 15)
    ira_improve_data_worksheet.set_column(3, 3, 30)
    ira_improve_data_worksheet.set_column(4, 4, 20)
    ira_improve_data_worksheet.set_column(5, 5, 15)
    ira_improve_data_worksheet.set_column(7, 7, 45)
    ira_improve_data_worksheet.set_column(8, 8, 15)
    ira_improve_data_worksheet.set_column(9, 9, 20)
    ira_improve_data_worksheet.set_column(11, 11, 30)
    
    improves_worksheet.set_column(0, 2, 13)
    rebates_worksheet.set_column(0, 2, 13)

    writer.save()
    workbook.close()
    
FileLink(file_name)

/home/svairag/Automation/Rebate&Improve/IRA_Rebates_Data_07102024.xlsx